In [1]:
import pandas as pd
import os
from pathlib import Path, PureWindowsPath
import numpy as np

# Load file in

In [2]:
filename = 'County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv'
url = Path(PureWindowsPath('C:\\Users\\woodn\\github\\UCSD_MDS\\DSC267R'))

In [3]:
filepath = url / filename

In [4]:
df = pd.read_csv(filepath,
                 on_bad_lines = 'warn',
                 low_memory = True
                )

In [5]:
df.info(verbose = True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3078 entries, 0 to 3077
Data columns (total 288 columns):
 #    Column             Non-Null Count  Dtype
---   ------             --------------  -----
 0    RegionID           3078 non-null   int64
 1    SizeRank           3078 non-null   int64
 2    RegionName         3078 non-null   object
 3    RegionType         3078 non-null   object
 4    StateName          3078 non-null   object
 5    State              3078 non-null   object
 6    Metro              1832 non-null   object
 7    StateCodeFIPS      3078 non-null   int64
 8    MunicipalCodeFIPS  3078 non-null   int64
 9    2000-01-31         1036 non-null   float64
 10   2000-02-29         1038 non-null   float64
 11   2000-03-31         1040 non-null   float64
 12   2000-04-30         1042 non-null   float64
 13   2000-05-31         1045 non-null   float64
 14   2000-06-30         1047 non-null   float64
 15   2000-07-31         1048 non-null   float64
 16   2000-08-31         1050 non-null   float64
 17   2000-09-30         1051 non-null   float64
 18   2000-10-31         1052 non-null   float64
 19   2000-11-30         1055 non-null   float64
 20   2000-12-31         1056 non-null   float64
 21   2001-01-31         1069 non-null   float64
 22   2001-02-28         1070 non-null   float64
 23   2001-03-31         1073 non-null   float64
 24   2001-04-30         1077 non-null   float64
 25   2001-05-31         1079 non-null   float64
 26   2001-06-30         1081 non-null   float64
 27   2001-07-31         1083 non-null   float64
 28   2001-08-31         1086 non-null   float64
 29   2001-09-30         1089 non-null   float64
 30   2001-10-31         1092 non-null   float64
 31   2001-11-30         1095 non-null   float64
 32   2001-12-31         1097 non-null   float64
 33   2002-01-31         1102 non-null   float64
 34   2002-02-28         1102 non-null   float64
 35   2002-03-31         1102 non-null   float64
 36   2002-04-30         1114 non-null   float64
 37   2002-05-31         1117 non-null   float64
 38   2002-06-30         1125 non-null   float64
 39   2002-07-31         1128 non-null   float64
 40   2002-08-31         1129 non-null   float64
 41   2002-09-30         1130 non-null   float64
 42   2002-10-31         1132 non-null   float64
 43   2002-11-30         1133 non-null   float64
 44   2002-12-31         1136 non-null   float64
 45   2003-01-31         1140 non-null   float64
 46   2003-02-28         1143 non-null   float64
 47   2003-03-31         1148 non-null   float64
 48   2003-04-30         1151 non-null   float64
 49   2003-05-31         1158 non-null   float64
 50   2003-06-30         1158 non-null   float64
 51   2003-07-31         1167 non-null   float64
 52   2003-08-31         1166 non-null   float64
 53   2003-09-30         1174 non-null   float64
 54   2003-10-31         1176 non-null   float64
 55   2003-11-30         1184 non-null   float64
 56   2003-12-31         1190 non-null   float64
 57   2004-01-31         1198 non-null   float64
 58   2004-02-29         1197 non-null   float64
 59   2004-03-31         1205 non-null   float64
 60   2004-04-30         1214 non-null   float64
 61   2004-05-31         1216 non-null   float64
 62   2004-06-30         1216 non-null   float64
 63   2004-07-31         1214 non-null   float64
 64   2004-08-31         1221 non-null   float64
 65   2004-09-30         1222 non-null   float64
 66   2004-10-31         1223 non-null   float64
 67   2004-11-30         1228 non-null   float64
 68   2004-12-31         1228 non-null   float64
 69   2005-01-31         1212 non-null   float64
 70   2005-02-28         1219 non-null   float64
 71   2005-03-31         1225 non-null   float64
 72   2005-04-30         1218 non-null   float64
 73   2005-05-31         1237 non-null   float64
 74   2005-06-30         1253 non-null   float64
 75   2005-07-31         1264 non-null   float64
 76   2005-08-31         1274 non-null   float64
 77   2005-09-30         1270 non-null   float64
 78   2005-10-31         1275 non-null   float64
 79   2005-11-30         1279 non-null   float64
 80   2005-12-31         1284 non-null   float64
 81   2006-01-31         1285 non-null   float64
 82   2006-02-28         1290 non-null   float64
 83   2006-03-31         1290 non-null   float64
 84   2006-04-30         1292 non-null   float64
 85   2006-05-31         1296 non-null   float64
 86   2006-06-30         1298 non-null   float64
 87   2006-07-31         1301 non-null   float64
 88   2006-08-31         1303 non-null   float64
 89   2006-09-30         1306 non-null   float64
 90   2006-10-31         1309 non-null   float64
 91   2006-11-30         1311 non-null   float64
 92   2006-12-31         1315 non-null   float64
 93   2007-01-31         1323 non-null   float64
 94   2007-02-28         1331 non-null   float64
 95   2007-03-31         1334 non-null   float64
 96   2007-04-30         1337 non-null   float64
 97   2007-05-31         1343 non-null   float64
 98   2007-06-30         1349 non-null   float64
 99   2007-07-31         1350 non-null   float64
 100  2007-08-31         1355 non-null   float64
 101  2007-09-30         1358 non-null   float64
 102  2007-10-31         1364 non-null   float64
 103  2007-11-30         1364 non-null   float64
 104  2007-12-31         1368 non-null   float64
 105  2008-01-31         1380 non-null   float64
 106  2008-02-29         1378 non-null   float64
 107  2008-03-31         1374 non-null   float64
 108  2008-04-30         1383 non-null   float64
 109  2008-05-31         1383 non-null   float64
 110  2008-06-30         1387 non-null   float64
 111  2008-07-31         1405 non-null   float64
 112  2008-08-31         1413 non-null   float64
 113  2008-09-30         1411 non-null   float64
 114  2008-10-31         1420 non-null   float64
 115  2008-11-30         1428 non-null   float64
 116  2008-12-31         1437 non-null   float64
 117  2009-01-31         1556 non-null   float64
 118  2009-02-28         1630 non-null   float64
 119  2009-03-31         1743 non-null   float64
 120  2009-04-30         1810 non-null   float64
 121  2009-05-31         1863 non-null   float64
 122  2009-06-30         1913 non-null   float64
 123  2009-07-31         1944 non-null   float64
 124  2009-08-31         1965 non-null   float64
 125  2009-09-30         1987 non-null   float64
 126  2009-10-31         2002 non-null   float64
 127  2009-11-30         2007 non-null   float64
 128  2009-12-31         2014 non-null   float64
 129  2010-01-31         2017 non-null   float64
 130  2010-02-28         2025 non-null   float64
 131  2010-03-31         2033 non-null   float64
 132  2010-04-30         2039 non-null   float64
 133  2010-05-31         2047 non-null   float64
 134  2010-06-30         2055 non-null   float64
 135  2010-07-31         2069 non-null   float64
 136  2010-08-31         2068 non-null   float64
 137  2010-09-30         2072 non-null   float64
 138  2010-10-31         2075 non-null   float64
 139  2010-11-30         2082 non-null   float64
 140  2010-12-31         2084 non-null   float64
 141  2011-01-31         2096 non-null   float64
 142  2011-02-28         2096 non-null   float64
 143  2011-03-31         2099 non-null   float64
 144  2011-04-30         2107 non-null   float64
 145  2011-05-31         2117 non-null   float64
 146  2011-06-30         2129 non-null   float64
 147  2011-07-31         2132 non-null   float64
 148  2011-08-31         2136 non-null   float64
 149  2011-09-30         2139 non-null   float64
 150  2011-10-31         2138 non-null   float64
 151  2011-11-30         2142 non-null   float64
 152  2011-12-31         2148 non-null   float64
 153  2012-01-31         2385 non-null   float64
 154  2012-02-29         2392 non-null   float64
 155  2012-03-31         2398 non-null   float64
 156  2012-04-30         2395 non-null   float64
 157  2012-05-31         2399 non-null   float64
 158  2012-06-30         2389 non-null   float64
 159  2012-07-31         2405 non-null   float64
 160  2012-08-31         2415 non-null   float64
 161  2012-09-30         2419 non-null   float64
 162  2012-10-31         2422 non-null   float64
 163  2012-11-30         2427 non-null   float64
 164  2012-12-31         2427 non-null   float64
 165  2013-01-31         2433 non-null   float64
 166  2013-02-28         2437 non-null   float64
 167  2013-03-31         2439 non-null   float64
 168  2013-04-30         2444 non-null   float64
 169  2013-05-31         2450 non-null   float64
 170  2013-06-30         2454 non-null   float64
 171  2013-07-31         2459 non-null   float64
 172  2013-08-31         2462 non-null   float64
 173  2013-09-30         2464 non-null   float64
 174  2013-10-31         2471 non-null   float64
 175  2013-11-30         2474 non-null   float64
 176  2013-12-31         2477 non-null   float64
 177  2014-01-31         2485 non-null   float64
 178  2014-02-28         2486 non-null   float64
 179  2014-03-31         2488 non-null   float64
 180  2014-04-30         2493 non-null   float64
 181  2014-05-31         2501 non-null   float64
 182  2014-06-30         2503 non-null   float64
 183  2014-07-31         2505 non-null   float64
 184  2014-08-31         2508 non-null   float64
 185  2014-09-30         2510 non-null   float64
 186  2014-10-31         2512 non-null   float64
 187  2014-11-30         2513 non-null   float64
 188  2014-12-31         2515 non-null   float64
 189  2015-01-31         2523 non-null   float64
 190  2015-02-28         2524 non-null   float64
 191  2015-03-31         2527 non-null   float64
 192  2015-04-30         2534 non-null   float64
 193  2015-05-31         2536 non-null   float64
 194  2015-06-30         2538 non-null   float64
 195  2015-07-31         2542 non-null   float64
 196  2015-08-31         2543 non-null   float64
 197  2015-09-30         2546 non-null   float64
 198  2015-10-31         2545 non-null   float64
 199  2015-11-30         2545 non-null   float64
 200  2015-12-31         2547 non-null   float64
 201  2016-01-31         2556 non-null   float64
 202  2016-02-29         2980 non-null   float64
 203  2016-03-31         2980 non-null   float64
 204  2016-04-30         2980 non-null   float64
 205  2016-05-31         2980 non-null   float64
 206  2016-06-30         2979 non-null   float64
 207  2016-07-31         2979 non-null   float64
 208  2016-08-31         2980 non-null   float64
 209  2016-09-30         2981 non-null   float64
 210  2016-10-31         2981 non-null   float64
 211  2016-11-30         2981 non-null   float64
 212  2016-12-31         2982 non-null   float64
 213  2017-01-31         2982 non-null   float64
 214  2017-02-28         2988 non-null   float64
 215  2017-03-31         2989 non-null   float64
 216  2017-04-30         2989 non-null   float64
 217  2017-05-31         2989 non-null   float64
 218  2017-06-30         2989 non-null   float64
 219  2017-07-31         2989 non-null   float64
 220  2017-08-31         2989 non-null   float64
 221  2017-09-30         2989 non-null   float64
 222  2017-10-31         2987 non-null   float64
 223  2017-11-30         2987 non-null   float64
 224  2017-12-31         2987 non-null   float64
 225  2018-01-31         2986 non-null   float64
 226  2018-02-28         2992 non-null   float64
 227  2018-03-31         2992 non-null   float64
 228  2018-04-30         2992 non-null   float64
 229  2018-05-31         2992 non-null   float64
 230  2018-06-30         2991 non-null   float64
 231  2018-07-31         2994 non-null   float64
 232  2018-08-31         2994 non-null   float64
 233  2018-09-30         2993 non-null   float64
 234  2018-10-31         2995 non-null   float64
 235  2018-11-30         2994 non-null   float64
 236  2018-12-31         2995 non-null   float64
 237  2019-01-31         2991 non-null   float64
 238  2019-02-28         2997 non-null   float64
 239  2019-03-31         3000 non-null   float64
 240  2019-04-30         3006 non-null   float64
 241  2019-05-31         3009 non-null   float64
 242  2019-06-30         3010 non-null   float64
 243  2019-07-31         3010 non-null   float64
 244  2019-08-31         3010 non-null   float64
 245  2019-09-30         3010 non-null   float64
 246  2019-10-31         3010 non-null   float64
 247  2019-11-30         3011 non-null   float64
 248  2019-12-31         3011 non-null   float64
 249  2020-01-31         3012 non-null   float64
 250  2020-02-29         3012 non-null   float64
 251  2020-03-31         3007 non-null   float64
 252  2020-04-30         3000 non-null   float64
 253  2020-05-31         3008 non-null   float64
 254  2020-06-30         3014 non-null   float64
 255  2020-07-31         3014 non-null   float64
 256  2020-08-31         2987 non-null   float64
 257  2020-09-30         2965 non-null   float64
 258  2020-10-31         2982 non-null   float64
 259  2020-11-30         2986 non-null   float64
 260  2020-12-31         3013 non-null   float64
 261  2021-01-31         3015 non-null   float64
 262  2021-02-28         3027 non-null   float64
 263  2021-03-31         3027 non-null   float64
 264  2021-04-30         3027 non-null   float64
 265  2021-05-31         3027 non-null   float64
 266  2021-06-30         3027 non-null   float64
 267  2021-07-31         3026 non-null   float64
 268  2021-08-31         3025 non-null   float64
 269  2021-09-30         3025 non-null   float64
 270  2021-10-31         3026 non-null   float64
 271  2021-11-30         3027 non-null   float64
 272  2021-12-31         3027 non-null   float64
 273  2022-01-31         3027 non-null   float64
 274  2022-02-28         3066 non-null   float64
 275  2022-03-31         3066 non-null   float64
 276  2022-04-30         3066 non-null   float64
 277  2022-05-31         3066 non-null   float64
 278  2022-06-30         3066 non-null   float64
 279  2022-07-31         3066 non-null   float64
 280  2022-08-31         3066 non-null   float64
 281  2022-09-30         3066 non-null   float64
 282  2022-10-31         3065 non-null   float64
 283  2022-11-30         3065 non-null   float64
 284  2022-12-31         3065 non-null   float64
 285  2023-01-31         3062 non-null   float64
 286  2023-02-28         3063 non-null   float64
 287  2023-03-31         3064 non-null   float64
dtypes: float64(279), int64(4), object(5)
memory usage: 6.8+ MB

# Convert to long form and clean columns up

In [6]:
drop_list = ['SizeRank', 'RegionID', 'RegionType', 'StateName', 'Metro']
df = df.drop(columns = drop_list)

In [7]:
cols = df.columns.to_list()[:4]
cols

['RegionName', 'State', 'StateCodeFIPS', 'MunicipalCodeFIPS']

In [8]:
vals = df.columns.to_list()[4:]

In [9]:
df.iloc[:2,:]

,RegionName,State,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31
0,Los Angeles County,CA,6,37,208179.556892,208402.487335,209259.859164,210952.378857,213117.713834,215196.349010,...,856459.777569,858997.565355,857505.213577,853918.663929,850108.731052,847577.629371,844277.565852,836894.142476,826900.301415,818632.879337
1,Cook County,IL,17,31,131446.801823,131421.655494,131639.473530,132265.480295,133073.117848,133918.529103,...,280457.262562,279823.129207,278506.365622,276435.749606,274694.011148,273915.877877,273175.143042,273785.951420,274519.513193,275811.199230

In [10]:
pd.melt(df.iloc[:2,:], id_vars=['RegionName','State'], value_vars=vals)

             RegionName State    variable          value
0    Los Angeles County    CA  2000-01-31  208179.556892
1           Cook County    IL  2000-01-31  131446.801823
2    Los Angeles County    CA  2000-02-29  208402.487335
3           Cook County    IL  2000-02-29  131421.655494
4    Los Angeles County    CA  2000-03-31  209259.859164
..                  ...   ...         ...            ...
553         Cook County    IL  2023-01-31  273785.951420
554  Los Angeles County    CA  2023-02-28  826900.301415
555         Cook County    IL  2023-02-28  274519.513193
556  Los Angeles County    CA  2023-03-31  818632.879337
557         Cook County    IL  2023-03-31  275811.199230

[558 rows x 4 columns]

In [11]:
df = df.melt(id_vars=['RegionName','State'], value_vars=vals)

In [12]:
mapper = {'RegionName':'county'
          , 'State':'state'
          , 'variable':'date'
          , 'value':'ZHVI'
         }

In [13]:
df = df.rename(columns = mapper)

In [14]:
df.loc[:,'county'] = df.loc[:,'county']\
                        .str.replace(' County', '', case=False, regex=True)\
                        .str.replace(' Parish', '', case=False, regex=True)\
                        .str.replace(' Municipio', '', case=False, regex=True)\
                        .str.replace(' city', '', case=False, regex=True)

In [15]:
df.columns

Index(['county', 'state', 'date', 'ZHVI'], dtype='object')

In [16]:
df.info(verbose = True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858762 entries, 0 to 858761
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   county  858762 non-null  object
 1   state   858762 non-null  object
 2   date    858762 non-null  object
 3   ZHVI    583927 non-null  float64
dtypes: float64(1), object(3)
memory usage: 26.2+ MB

In [17]:
df.head()

        county state        date           ZHVI
0  Los Angeles    CA  2000-01-31  208179.556892
1         Cook    IL  2000-01-31  131446.801823
2       Harris    TX  2000-01-31  107566.187362
3     Maricopa    AZ  2000-01-31  143016.539578
4    San Diego    CA  2000-01-31  214460.263299

# Write to dataset

In [18]:
filename2 = 'ZHVI.csv.gz'
url2 = Path(PureWindowsPath('C:\\Users\\woodn\\github\\datasets'))
filepath2 = url2 / filename2

In [19]:
df.to_csv(filepath2,
          index = False,
          compression = 'gzip'
         )